@model ProjectCinderella.Model.UI.AlbumStatsViewModel

@Styles.Render("~/css/c3.min.css")
@Scripts.Render("~/css/d3.d3.min.js")
@Scripts.Render("~/js/c3.min.js")

<div data-toggle="collapse" data-parent="#accordion" href="#collection-info" style="padding-top: 1em;">
	<div class="row panel panel-primary panel-collapse">
		<div class="panel-heading">
			<h4>
				Album Stats
				<span class="fa fa-chevron-circle-down"></span>
			</h4>
		</div>
	</div>
</div>

<div id="collection-info" class="collapse in">
	<div class="panel-body row">
		<div class="panel-heading row">
			<h4 class="col-md-6">
				Global
				<span class="fa fa-globe"></span>
			</h4>
		@if (User.Identity.IsAuthenticated)
		{
			<h4 class="col-md-6">
				User
				<span class="fa fa-user"></span>
			</h4>
		}
		</div>
		<div class="col-md-6">@Html.Partial("~/Views/Statistics/_AlbumStatsTable.cshtml", Model.Global)</div>
		@if (User.Identity.IsAuthenticated)
		{
			<div class="col-md-6">@Html.Partial("~/Views/Statistics/_AlbumStatsTable.cshtml", Model.User)</div>
		}
	</div>
</div>

<div data-toggle="collapse" data-parent="#accordion" href="#global-charts">
	<div class="row panel panel-primary panel-collapse">
		<div class="panel-heading">
			<h4>
				Charts
				<span class="fa fa-chevron-circle-down"></span>
			</h4>
		</div>
	</div>
</div>
<div id="global-charts" class="collapse in charts">
	<div class="panel-body">
		<div class="table">
			<div class="row">
				<div id="global-album-types" class="col-md-6" style="width: 500px; height: 500px;"></div>
			@if (User.Identity.IsAuthenticated)
			{
				<div id="user-album-types" class="col-md-6" style="width: 500px; height: 500px;"></div>
			}
			</div>
			<div class="row">
				<div id="global-album-formats" class="col-md-6" style="width: 500px; height: 500px;"></div>
			@if (User.Identity.IsAuthenticated)
			{
				<div id="user-album-formats" class="col-md-6" style="width: 500px; height: 500px;"></div>
			}
			</div>
			<div class="row">
				<div id="global-album-speeds" class="col-md-6" style="width: 500px; height: 500px;"></div>
			@if (User.Identity.IsAuthenticated)
			{
				<div id="user-album-speeds" class="col-md-6" style="width: 500px; height: 500px;"></div>
			}
			</div>
		</div>
	</div>
</div>
@Html.Partial("~/Views/Statistics/Charts/_AlbumTypeChart.cshtml", Model.Global.Types)
@Html.Partial("~/Views/Statistics/Charts/_AlbumFormatChart.cshtml", Model.Global.Formats)
@Html.Partial("~/Views/Statistics/Charts/_AlbumSpeedChart.cshtml", Model.Global.Speeds)
@if (User.Identity.IsAuthenticated)
{
	@Html.Partial("~/Views/Statistics/Charts/_AlbumTypeChart.cshtml", Model.User.Types)
	@Html.Partial("~/Views/Statistics/Charts/_AlbumFormatChart.cshtml", Model.User.Formats)
	@Html.Partial("~/Views/Statistics/Charts/_AlbumSpeedChart.cshtml", Model.User.Speeds)
}