@using Microsoft.AspNet.Identity
@model UI.Models.MovieViewModel
@{
	ViewBag.Title = Model.ViewTitle;
}

<script>
	var deleteUrl = '@Url.Action(MVC.Movie.Delete())';
</script>

<div>
	<div class="h2 col-xs-4 col-sm-7">
		Movies
	</div>

	<div class="col-xs-8 col-sm-5 text-right" style="padding-top: 1.25em; display: inline-flex;">
		@if (User.Identity.IsAuthenticated)
			{
			@Html.ActionLink("Add Movie", MVC.Movie.Create(), new { @class = "btn btn-default", @style = "margin-right:1em;" })
			}
		@using (Html.BeginForm(MVC.Movie.Index(), FormMethod.Get, new { @style = "display:inline-flex;" }))
			{
			@Html.TextBox("query", null, new { @class = "form-control", @placeholder = "Search" })
			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
			}
	</div>

	<div class="table table-responsive" style="padding-top: 3em;">
		<div class="bold row">
			<div class="col-xs-3">
				@Html.DisplayNameFor(x => x.Movies[0].Title)
			</div>

			<div class="col-xs-3">
				@Html.DisplayNameFor(x => x.Movies[0].Director)
			</div>
			<div class="col-xs-3">
				@Html.DisplayNameFor(x => x.Movies[0].Distributor)
			</div>
			<div class="col-xs-2">
				@Html.DisplayNameFor(x => x.Movies[0].YearReleased)
			</div>
		</div>
		@foreach (var movie in Model.Movies)
			{
			<div id="movie" class="row info" data-id="@movie.ID">
				<a href="@Url.Action(User.Identity.IsAuthenticated ? MVC.Movie.Edit(movie.ID) : MVC.Movie.Details(movie.ID))">
					<div class="col-xs-3">
						@Html.DisplayFor(x => movie.Title)
					</div>

					<div class="col-xs-3">
						@Html.DisplayFor(x => movie.Director)
					</div>
					<div class="col-xs-3">
						@Html.DisplayFor(x => movie.Distributor)
					</div>
					<div class="col-xs-2">
						@Html.DisplayFor(x => movie.YearReleased)
					</div>
				</a>
				@if (User.Identity.IsAuthenticated && movie.UserID == User.Identity.GetUserId())
				{
					<div class="col-xs-1 hidden-xs">
						<a href="#" class="deleteBtn fa fa-trash" data-id=@movie.ID></a>
					</div>
				}
			</div>
			}
		<div>
		</div>
	</div>
</div>

@*<div class="row">
		Page:
		@for (var i = 0; i < Model.PageCount; i++)
				{
			@Html.ActionLink((i + 1).ToString(), MVC.Movie.Index("", i + 1), new { @class = "btn btn-link" })

				}
	</div>*@