@using Microsoft.AspNet.Identity
@using PagedList.Mvc
@using UI.Enums
@model UI.Models.MovieViewModel
@{
    ViewBag.Title = Model.ViewTitle;
}

<script>
    var deleteUrl = '@Url.Action(MVC.Movie.Delete())';
</script>

<div>
    <div class="h2 col-md-5">
        Movies/TV
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-default" href="@Url.Action(MVC.Movie.Create())" style="padding-top: 1.25em;" contenteditable="false">
                <span class="fa fa-plus"></span>
            </a>
        }
    </div>

    <div class="col-md-3" style="padding-top: 1.25em;">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action(MVC.Movie.Search())" class="btn btn-default">TMDb <span class="fa fa-search"></span></a>
        }
    </div>

    <div class="col-md-4 text-right" style="padding-top: 1.25em; display: inline-flex;">
        @using (Html.BeginForm(MVC.Movie.Index(), FormMethod.Get, new { @style = "display:inline-flex;" }))
        {
            <input class="form-control" id="query" name="movieQuery" placeholder="Search" type="text" value="@ViewBag.Filter">
            <button type="submit" class="btn btn-default">
                <span class="fa fa-search"></span>
            </button>
        }
    </div>
</div>

<div id="fh5co-main">
    <div class="container" style="padding-top: 2em;">
        @foreach (var movie in Model.Movies)
        {
            @Html.Partial(MVC.Movie.Views._Movie, movie)
        }
    </div>
</div>

@Html.PagedListPager(Model.Movies, page => Url.Action("Index", new { movieQuery = ViewBag.query, filter = ViewBag.Filter, page }))

@Html.Partial(MVC.Shared.Views._TMDBDisclaimer)