@model UI.Models.ExportModel

<div class="row">
    @Html.LabelFor(x => x.NumToExport)
    @Html.DisplayFor(x => x.NumToExport)
</div>

<div class="row">
    @Html.ActionLink("Export Albums", MVC.Export.ExportAlbums())
</div>

<div class="row">
    @Html.ActionLink("Export Books", MVC.Export.ExportBooks())
</div>

<div class="row">
    @Html.ActionLink("Export Games", MVC.Export.ExportGames())
</div>

<div class="row">
    @Html.ActionLink("Export Movies", MVC.Export.ExportMovies())
</div>

<div class="row">
    @Html.ActionLink("Export Pops", MVC.Export.ExportPops())
</div>

<div class="row">
    <pre>@Model.Json</pre>
</div>