<div class="row">
    @Html.ActionLink("Export Albums", MVC.Export.GetAlbumsForExport())
</div>

<div class="row">
    @Html.ActionLink("Export Books", MVC.Export.GetBooksForExport())
</div>

<div class="row">
    @Html.ActionLink("Export Games", MVC.Export.GetGamesForExport())
</div>

<div class="row">
    @Html.ActionLink("Export Movies", MVC.Export.GetMoviesForExport())
</div>

<div class="row">
    @Html.ActionLink("Export Pops", MVC.Export.GetPopsForExport())
</div>