@{
	ViewBag.Title = "Home Page";
}

<div class="h3 row">
	<div class="col-sm-12 text-sm-center col-md-8 text-md-center text-lg-right" style="padding-top: 0.5em;">@Html.ActionLink("Albums", MVC.Album.Index()) |
		@Html.ActionLink("Books", MVC.Book.Index()) |
		@Html.ActionLink("Movies", MVC.Movie.Index()) |
		@Html.ActionLink("Games", MVC.Game.Index())</div>
	@if (!User.Identity.IsAuthenticated)
	{<div class="hidden-xs hidden-sm col-md-4 text-right">
		@Html.ActionLink("Login", MVC.Account.Login(), new { @class = "btn btn-default" })
	</div>
	}
</div>


<div class="jumbotron img-responsive">
	<div class="jumbotronText">Gotta Collect 'Em All</div>
	
	<div class="row">
		<div class="col-xs-6">
			@using (Html.BeginForm(MVC.Album.Index(), FormMethod.Get, new {@style = "display:inline-flex;"}))
			{
				@Html.TextBox("query", null, new {@class = "form-control", @placeholder = "Search"})
				<button type="submit" class="btn btn-default">
					<span class="fa fa-search"></span>
				</button>
			}
		</div>
		<div class="col-xs-6">
			@if (User.Identity.IsAuthenticated)
			{
				@Html.ActionLink("Add Album", MVC.Album.Create(), new {@class = "btn btn-default btn-lg"})
			}
		</div>
	</div>
</div>