@{
	ViewBag.Title = "Home Page";
}

<script>
	$("#main-body").removeClass("container");
</script>

<div class="jumbotron img-fluid">
	<div class="h3 container nav">
		<div class="row">
			<div class="col-sm-12 text-sm-center col-md-8 text-md-center text-lg-right" style="padding-top: 0.5em;">
				@Html.ActionLink("Albums", MVC.Album.Index()) |
				@Html.ActionLink("Books", MVC.Book.Index()) |
				@Html.ActionLink("Movies", MVC.Movie.Index()) |
				@Html.ActionLink("Games", MVC.Game.Index())
			</div>
			@if (!User.Identity.IsAuthenticated)
			{<div class="hidden-xs hidden-sm col-md-4 text-right">
				@Html.ActionLink("Login", MVC.Account.Login(), new { @class = "btn btn-default" })
			</div>
			}
		</div>

		<div class="row text-center" style="padding-top: 5em;">
			<div class="col-xs-6">
				@using (Html.BeginForm(MVC.Album.Index(), FormMethod.Get, new { @style = "display:inline-flex;" }))
				{
					@Html.TextBox("query", null, new { @class = "form-control", @placeholder = "Search" })
					<button type="submit" class="btn btn-default">
						<span class="fa fa-search"></span>
					</button>
				}
			</div>
			<div class="col-xs-6">
				@if (User.Identity.IsAuthenticated)
				{
					@Html.ActionLink("Add Album", MVC.Album.Create(), new { @class = "btn btn-default btn-lg" })
				}
			</div>
		</div>

		<div class="row jumbotronText text-right" style="padding-top: 7em;">Always know what's playing in your collection.</div>
	</div>
</div>
<div class="container">
	<div class="row panel panel-default">
		<div class="panel-body">
			<ul class="col-sm-6">
				<li>Project Cinderella is a site designed to keep track of your personal media collection (Music, Books, Movies, Games)...digital versions too.</li>
				<li>Having large collections makes it hard to remember what you actually have. Why remember it all?</li>
			</ul>
			<ul class="col-sm-6">
				<li>Find something in a really cool place? Use it to remember where you found certain items.</li>
				<li>Don't know if you already own something? Use it to prevent getting duplicates when you're out searching.</li>
				<li>Happy hunting!</li>
			</ul>
		</div>
	</div>
</div>