@model ProjectCinderella.Model.UI.WishFormModel

<script>
	var deleteUrl = '@Url.Action("Delete", "Wish")';
</script>

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Wish.ID)
@Html.HiddenFor(m => m.Wish.UserID)
@Html.HiddenFor(m => m.Wish.DateAdded)
@Html.HiddenFor(m => m.Wish.DateModified)

<div class="row panel-body">
	@if (Model.Wish.DateAdded != Convert.ToDateTime("1/1/1900") && Model.Wish.DateAdded != DateTime.MinValue)
    {
		<div>Date Added: @Html.Partial("_Timespan", Model.Wish.DateAdded)</div>
	}
	@if (Model.Wish.DateModified != Convert.ToDateTime("1/1/1900") && Model.Wish.DateModified != DateTime.MinValue)
	{
		<div>Last Updated: @Html.Partial("_Timespan", Model.Wish.DateModified)</div>
	}
</div>

<div class="row panel-body">
	@if (!string.IsNullOrWhiteSpace(Model.Wish.ImageUrl))
	{
		<div class="animate-box item col-md-6">
			<a href="@Model.Wish.ImageUrl" class="image-popup img-fluid fh5co-board-img" title="@Model.Wish.Title">
				<img src="@Model.Wish.ImageUrl)" class="img-rounded" style="height: 100%; width: 100%;">
			</a>
		</div>
	}
	<div class="col-sm-6">
		@Html.LabelFor(m => m.Wish.Title)
		@Html.TextBoxFor(m => m.Wish.Title, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Wish.Title, "", new { @class = "text-danger" })
	</div>

	<div class="col-sm-6">
		@Html.LabelFor(m => m.Wish.ItemType)
		@Html.EnumDropDownListFor(m => m.Wish.ItemType, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Wish.ItemType, "", new { @class = "text-danger" })
	</div>

	<div class="col-sm-6">
		@Html.LabelFor(m => m.Wish.Notes)
		@Html.TextAreaFor(m => m.Wish.Notes, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Wish.Notes, "", new { @class = "text-danger" })
	</div>

	<div class="col-sm-6">
		@Html.LabelFor(m => m.Wish.ApiID)
		@Html.TextBoxFor(m => m.Wish.ApiID, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Wish.ApiID, "", new { @class = "text-danger" })
	</div>

	<div class="col-sm-6">
		@Html.LabelFor(m => m.Wish.ImageUrl)
		@Html.TextBoxFor(m => m.Wish.ImageUrl, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Wish.ImageUrl, "", new { @class = "text-danger" })
	</div>

	<div class="col-sm-6" style="display: inline-grid;">
		@Html.LabelFor(m => m.Wish.Category)
		@Html.DropDownListFor(m => m.Wish.Category, new List<SelectListItem>(Model.Categories), new { @class = "form-control category" })
		@Html.ValidationMessageFor(m => m.Wish.Category, "", new { @class = "text-danger" })
	</div>

	<div class="col-sm-6">
		@Html.LabelFor(m => m.Wish.Owned)
		@Html.CheckBoxFor(m => m.Wish.Owned, new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Wish.Owned, "", new { @class = "text-danger" })
	</div>
</div>
@if (Model.Wish.ID > 0)
{
	<div class="row panel-body">
		@Html.ActionLink("Search for wish", "Search", "Wish", null, null, null,Model.Wish.ID, new { @class = "btn btn-default" })
	</div>
}

<div class="row panel-body">
	<div class="col-xs-6 col-md-4">
		<input id="btnSubmit" type="submit" value="@(Model.Wish.ID > 0 ? "Save" : "Create")" class="btn btn-default btn-block btn-lg" />
	</div>

	@if (Model.Wish.ID > 0)
	{
		<div class="col-md-4 offset-md-4 col-xs-6">
			@Html.ActionLink("Delete", "Delete", "Wish ",null, null, null, Model.Wish.ID, new { @class = "deleteBtn btn btn-danger btn-block btn-lg", data_id = Model.Wish.ID, data_deleteUrl = Url.Action("Delete", "Wish") })
		</div>
	}
</div>