@model List<ProjectCinderella.Model.Common.Wish>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Owned</th>
            <th>Title</th>
            <th class="hidden-xs">Date Added</th>
            <th class="hidden-xs">Notes</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>
                    <a href="@Url.Action("Edit", "Wish", Model[i].ID)">
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
                <td>
                    <a class="deleteBtn" href="@Url.Action("Delete", "Wish",Model[i].ID)" data-id="@Model[i].ID">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Search", "Wish",Model[i].ID)" data-id="@Model[i].ID">
                        <span class="fa fa-search"></span>
                    </a>
                </td>
                @if (!Model[i].Owned)
                {
                    <td>
                        <a href="@Url.Action("FinishWish", "Wish",Model[i].ID)" class="btn btn-sm btn-info">Done</a>
                    </td>
                }
                else
                {
                    <td>
                        <span class="fa fa-check-circle"></span>
                    </td>
                }
                <td>@Model[i].Title</td>
                <td class="hidden-xs">@Html.Partial("_Timespan", Model[i].DateAdded)</td>
                <td class="hidden-xs">@Model[i].Notes</td>
            </tr>
        }
    </tbody>
</table>