@model ProjectCinderella.Model.UI.MediaInfoViewModel

<div class="col-xs-6">
	@Html.LabelFor(m => m.Language):
	@Html.DisplayFor(m => m.Language)
</div>

<div class="col-xs-6">
	@Html.LabelFor(m => m.IsPhysical):
	@Html.DisplayFor(m => m.IsPhysical)
</div>

<div class="col-xs-6">
	@Html.LabelFor(m => m.CountryOfOrigin):
	@Html.DisplayFor(m => m.CountryOfOrigin)
</div>