@using Microsoft.AspNet.Identity
@model BusinessLogic.Models.FunkoModel

<script>
    var deleteUrl = '@Url.Action(MVC.Pop.Delete())';
    $("#main-body").removeClass("container");
</script>

<div class="container">
    <h2>
        Details
        @if (User.IsInRole("Admin") && Model.IsShowcased)
		{
            @Html.ActionLink("Remove From showcase", MVC.Pop.RemoveFromShowcase(Model.ID), new { @class = "btn btn-danger" })
		}
    </h2>
    @if (Model.DateUpdated != Convert.ToDateTime("1/1/1900") && Model.DateUpdated != DateTime.MinValue)
	{
        <div class="">Last Updated: @Model.DateUpdated</div>
    }

    <div>
        <a href="@Url.Action(MVC.Pop.Index())"><span class="fa fa-list"></span> Back to List</a>

        @if (User.Identity.IsAuthenticated && Model.UserID == User.Identity.GetUserId())
        {
            <span> | </span>
            <a href="@Url.Action(MVC.Pop.Edit(Model.ID))"><span class="fa fa-pencil"></span> Edit</a>
            <span> | </span>
            <a href="@Url.Action(MVC.Pop.Delete(Model.ID))" class="deleteBtn"><span class="fa fa-trash"></span> Delete</a>}
    </div>
</div>

<div class="detailsContainer">
    <div class="background-image" style="background: url('@Model.ImageUrl');"></div>
    <div class="contentContainer">
        <div class="container">
            <div data-toggle="collapse" data-parent="#accordion" href="#pop-info">
                <div class="row panel panel-primary panel-collapse text-center">
                    <div class="panel-heading">
                        <h4>
                            @Model.Title
                            <span class="fa fa-chevron-circle-down"></span>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="pop-info" class="collapse in">
                <div class="panel-body">
                    <div class="animate-box item col-sm-6">
                        <a href="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.action_figures_jpg : Model.ImageUrl)" class="image-popup img-fluid fh5co-board-img" title="@Model.Title (@Model.YearReleased)">
                            <img src="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.action_figures_jpg : Model.ImageUrl)" class="img-rounded" style="height: 200px; width: 200px;">
                        </a>
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Series):
                        @Html.DisplayFor(m => m.Series)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.PopLine):
                        @Html.DisplayFor(m => m.PopLine)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Number):
                        @Html.DisplayFor(m => m.Number)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.YearReleased):
                        @Html.DisplayFor(m => m.YearReleased)
                    </div>

                    <div>
                        @Html.LabelFor(m => m.Notes):
                        @Html.DisplayFor(m => m.Notes)
                    </div>

                    <div>
                        @Html.LabelFor(m => m.Category):
                        @Html.DisplayFor(m => m.Category)
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 1em;">
                <div class="col-md-6">
                    <div data-toggle="collapse" data-parent="#accordion" href="#purchase-info">
                        <div class="panel panel-primary panel-collapse">
                            <div class="panel-heading">
                                <h4>
                                    Purchase Information
                                    <span class="fa fa-chevron-circle-down"></span>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div id="purchase-info" class="collapse in">
                        <div class="panel-body">
                            <div>
                                @Html.LabelFor(m => m.DatePurchased):
                                @Html.DisplayFor(m => m.DatePurchased)
                            </div>

                            <div>
                                @Html.LabelFor(m => m.LocationPurchased):
                                @Html.DisplayFor(m => m.LocationPurchased)
                            </div>

                            <div>
                                @Html.LabelFor(m => m.IsNew):
                                @Html.DisplayFor(m => m.IsNew)
                            </div>

                            <div>
                                @Html.LabelFor(m => m.CountryPurchased):
                                @Html.DisplayFor(m => m.CountryPurchased)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>