@model BusinessLogic.Models.Game
@using UI.Enums

<div id="fh5co-board" data-columns>
    <div class="item">
        <div class="flip-container @Model.CompletionStatus.ToString()" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper game">
                <div class="front">
                    <div class="animate-box text-center">
                        <a href="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.Game_jpg : Model.ImageUrl)" class="image-popup img-thumbnail img-fluid fh5co-board-img" title="@Model.Developer - @Model.Title (@Model.YearReleased)">
                            <img src="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.Game_jpg : Model.ImageUrl)" alt="@Model.Title">
                        </a>
                    </div>
                </div>
                <div class="back">
                    <img src="@Links.Content.Images.Game_jpg" alt="Game" />
                    <div class="info fh5co-desc @Model.CompletionStatus.ToString()" data-id="@Model.ID">
                        <a href="@Url.Action(User.Identity.IsAuthenticated ? MVC.Game.Edit(Model.ID) : MVC.Game.Details(Model.ID))">
                            <div class="row">
                                @Html.DisplayFor(modelItem => Model.Title)
                            </div>

                            <div class="row">
                                @EnumHelpers.GetDisplayName(Model.Platform)
                                <span class="@CompletionStatusHelper.GetStatusClass(Model.CompletionStatus)"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>