@model BusinessLogic.Models.Wish

<script>
    var deleteUrl = '@Url.Action(MVC.Wish.Delete())';
</script>

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.UserID)
@Html.HiddenFor(m => m.DateAdded)
@Html.HiddenFor(m => m.DateModified)

<div class="row panel-body">
    @if (Model.DateAdded != Convert.ToDateTime("1/1/1900") && Model.DateAdded != DateTime.MinValue)
    {
        <div>Date Added: @Html.Partial(MVC.Shared.Views._Timespan, Model.DateAdded)</div>
    }
    @if (Model.DateModified != Convert.ToDateTime("1/1/1900") && Model.DateModified != DateTime.MinValue)
    {
        <div>Last Updated: @Html.Partial(MVC.Shared.Views._Timespan, Model.DateModified)</div>
    }
</div>

<div class="row panel-body">
    <div class="col-sm-6">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    </div>

    <div class="col-sm-6">
        @Html.LabelFor(m => m.ItemType)
        @Html.EnumDropDownListFor(m => m.ItemType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ItemType, "", new { @class = "text-danger" })
    </div>

    <div class="col-sm-6">
        @Html.LabelFor(m => m.Notes)
        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "text-danger" })
    </div>

    <div class="col-sm-6">
        @Html.LabelFor(m => m.Category)
        @Html.DropDownListFor(m => m.Category, new List<SelectListItem> { new SelectListItem { Value = "test", Text = "test" } }, new { @class = "form-control category" })
        @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
        @*<script>
                $(".category").select2({
                    tags: true,
                    tokenSeparators: [',', ' ']
                })
            </script>*@
    </div>

    <div class="col-sm-6">
        @Html.LabelFor(m => m.ApiID)
        @Html.TextBoxFor(m => m.ApiID, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ApiID, "", new { @class = "text-danger" })
    </div>

    <div class="col-sm-6">
        @Html.LabelFor(m => m.Owned)
        @Html.CheckBoxFor(m => m.Owned, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Owned, "", new { @class = "text-danger" })
    </div>
</div>

<div class="row panel-body">
    @Html.ActionLink("Search for wish", MVC.Wish.Search(Model.ID), new { @class = "btn btn-default" })
</div>

<div class="row panel-body">
    <div class="col-xs-6 col-md-4">
        <input id="btnSubmit" type="submit" value=@(Model.ID > 0 ? "Save" : "Create") class="btn btn-default btn-block btn-lg" />
    </div>

    @if (Model.ID > 0)
    {
        <div class="col-md-4 offset-md-4 col-xs-6">
            @Html.ActionLink("Delete", MVC.Wish.Delete(Model.ID), new { @class = "deleteBtn btn btn-danger btn-block btn-lg", data_id = Model.ID, data_deleteUrl = Url.Action(MVC.Wish.Delete()) })
        </div>
    }
</div>