@using System
@using Microsoft.AspNet.Identity
@using FormMethod = Microsoft.AspNetCore.Mvc.Rendering.FormMethod
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<title>@ViewBag.Title - Project Cinderella</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Catalog all the things." />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Project Cinderella">
	<meta name="twitter:description" content="Always know what's playing in your collection.">
	<meta name="twitter:image" content="@("http://projectcinderella.azurewebsites.net" + "/images/Turntable.jpg")">

	<meta property="og:title" content="Project Cinderella" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://projectcinderella.azurewebsites.net/" />
	<meta property="og:image" content="@("http://projectcinderella.azurewebsites.net" + "/Images/Turntable.jpg")" />
	<meta property="og:description" content="Always know what's playing in your collection." />

	@*@Styles.Render("~/Content/css")*@
	
	<link href="/css/Responsive.css" rel="stylesheet" type="text/css"/>
	
	<!-- Animate.css -->
	<link href="/css/themes/Hydrogen/animate.min.css" rel="stylesheet" type="text/css" />
	<!-- Icomoon Icon Fonts-->
	<link href="/css/themes/Hydrogen/icomoon.min.css" rel="stylesheet" type="text/css" />
	<!-- Magnific Popup -->
	<link href="/css/themes/Hydrogen/magnific-popup.min.css" rel="stylesheet" type="text/css" />
	<!-- Salvattore -->
	<link href="/css/themes/Hydrogen/salvattore.min.css" rel="stylesheet" type="text/css" />
	<!-- Theme Style -->
	<link href="/css/themes/Hydrogen/style.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/Sass/Main.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" , type="text/css" />
	
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	@*@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")*@
</head>
@*@if (TempData.ContainsKey("Toastr"))
{
	var toastr = (Toastr) TempData["Toastr"];
	@ToastrBuilder.ShowToastMessages(toastr)
	;
}*@
<body>
	<div class="row">
		<div id="fh5co-header" role="banner">
			<div class="container">
				<a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <span class="fa fa-bars"></span></a>
				<div class="h1 fh5co-logo">
					@Html.ActionLink("Project Cinderella", "Index", "Home", new { @class = "navbar-brand" })
				</div>
				<div class="h4 text-center hidden-xs">
					<a href="@Url.Action("Index", "Album")">
						<span class="fa fa-music"></span>
						<span>Albums</span>
					</a> |

					<a href="@Url.Action("Index", "Book")">
						<span class="fa fa-book"></span>
						<span>Books</span>
					</a> |

					<a href="@Url.Action("Index", "Movie")">
						<span class="fa fa-film"></span><span class="fa fa-television"></span>
						<span>Movies/TV</span>
					</a> |
					<a href="@Url.Action("Index", "Game")">
						<span class="fa fa-gamepad"></span>
						<span>Games</span>
					</a> |
					<a href="@Url.Action("Index", "Pop")">
						<span class="fa fa-user"></span>
						<span>Other Vinyl</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-offcanvass" class="well well-lg pre-scrollable">
		<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <span class="fa fa-bars"></span> </a>
		<h1 class="fh5co-logo">
			@Html.ActionLink("Project Cinderella", "Index", "Home", new { @class = "navbar-brand" })
		</h1>
		<ul id="accordion">
			<li class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#Menu">
						Menu
					</a>
				</h4>
			</li>
			<li id="Menu" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="table">
						<div>
							@Html.ActionLink("About","About", "Home")
						</div>

						<div>
							@Html.ActionLink("Contact", "Contact", "Home")
						</div>
					</div>
				</div>
			</li>

			<li class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#Albums">
						<span class="fa fa-music"></span> Albums
					</a>
				</h4>
			</li>
			<li id="Albums" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="table">
						<div>@Html.ActionLink("View Albums", "Index", "Album")</div>
						@if (User.Identity.IsAuthenticated)
						{
							<div>@Html.ActionLink("Add Album", "Create", "Album")</div>
							<div>@Html.ActionLink("Search Discogs", "Search", "Album")</div>
							<div>
								@using (Html.BeginForm("Index", "Album",null, FormMethod.Get,false, new { @style = "display:inline-flex;" }))
								{
									@Html.TextBox("albumQuery", null, new { @class = "form-control", @placeholder = "Search" })
									<button type="submit" class="btn btn-default">
										<span class="fa fa-search"></span>
									</button>
								}
							</div>
						}
					</div>
				</div>
			</li>

			<li class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#Books">
						<span class="fa fa-book"></span> Books
					</a>
				</h4>
			</li>
			<li id="Books" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="table">
						<div>@Html.ActionLink("View Books", "Index", "Book")</div>
						@if (User.Identity.IsAuthenticated)
						{
							<div>@Html.ActionLink("Add Book", "Create", "Book")</div>
							<div>@Html.ActionLink("Search Google for Book", "Search", "Book")</div>
							<div>
								@using (Html.BeginForm("Index", "Book", FormMethod.Get, new { @style = "display:inline-flex;" }))
								{
									@Html.TextBox("bookQuery", null, new { @class = "form-control", @placeholder = "Search" })
									<button type="submit" class="btn btn-default">
										<span class="fa fa-search"></span>
									</button>
								}
							</div>
						}
					</div>
				</div>
			</li>

			<li class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#Movies">
						<span class="fa fa-film"></span>/<span class="fa fa-television"></span> Movies/TV
					</a>
				</h4>
			</li>
			<li id="Movies" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="table">
						<div>@Html.ActionLink("View Movies/TV","Index", "Movie")</div>
						@if (User.Identity.IsAuthenticated)
						{
							<div>@Html.ActionLink("Add Movie/TV", "Create", "Movie")</div>
							<div>@Html.ActionLink("Search TMDB", "Search", "Movie")</div>
							<div>
								@using (Html.BeginForm("Index","Movie",null, FormMethod.Get, null,new { @style = "display:inline-flex;" }))
								{
									@Html.TextBox("movieQuery", null, new { @class = "form-control", @placeholder = "Search" })
									<button type="submit" class="btn btn-default">
										<span class="fa fa-search"></span>
									</button>
								}
							</div>
						}
					</div>
				</div>
			</li>

			<li class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#Games">
						<span class="fa fa-gamepad"></span> Games
					</a>
				</h4>
			</li>
			<li id="Games" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="table">
						<div>@Html.ActionLink("View Games", "Index", "Game")</div>
						@if (User.Identity.IsAuthenticated)
						{
							<div>@Html.ActionLink("Add Game", "Create", "Game")</div>
							<div>@Html.ActionLink("Search Giant Bomb/BGG", "Search", "Game")</div>
							<div>
								@using (Html.BeginForm("Index", "Game",null, FormMethod.Get,null, new { @style = "display:inline-flex;" }))
								{
									@Html.TextBox("gameQuery", null,"", new { @class = "form-control", @placeholder = "Search" })
									<button type="submit" class="btn btn-default">
										<span class="fa fa-search"></span>
									</button>
								}
							</div>
						}
					</div>
				</div>
			</li>

			<li class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#Pops">
						<span class="fa fa-user"></span> Other Vinyl
					</a>
				</h4>
			</li>
			<li id="Pops" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="table">
						<div>@Html.ActionLink("View Pops", "Index","Pop")</div>
						@if (User.Identity.IsAuthenticated)
						{
							<div>@Html.ActionLink("Add Pop", "Create", "Pop")</div>
							<div>
								@using (Html.BeginForm("Index", "Pop",null,  FormMethod.Get, false, new { @style = "display:inline-flex;" }))
								{
									@Html.TextBox("popQuery", null,"", new { @class = "form-control", @placeholder = "Search" })
									<button type="submit" class="btn btn-default">
										<span class="fa fa-search"></span>
									</button>
								}
							</div>
						}
					</div>
				</div>
			</li>

			<li id="Stats" class="panel-heading">
				<h4 class="panel-title">
					<a href="@Url.Action("Index","Statistics")">
						<span class="fa fa-trophy"></span> Stats
					</a>
				</h4>
			</li>
			@if (User.Identity.IsAuthenticated)
			{
				<li id="Wishlist" class="panel-heading">
					<h4 class="panel-title">
						<a href="@Url.Action("Index", "Wish")">
							<span class="fa fa-star"></span> Wish List
						</a>
					</h4>
				</li>
			}
			<li id="Showcase" class="panel-heading">
				<h4 class="panel-title">
					@*<a href="@Url.Action("Index", "Showcase", User.Identity.IsAuthenticated ? User.Identity.GetUserNum() : 1))">
						<span class="fa fa-certificate"></span> Showcase
					</a>*@
				</h4>
			</li>
			@if (User.Identity.IsAuthenticated)
			{
				<li id="Queue" class="panel-heading">
					<h4 class="panel-title">
						<a href="@Url.Action("Index", "Queue")">
							<span class="fa fa-list"></span> Queue
						</a>
					</h4>
				</li>
			}
			@if (User.IsInRole("Admin"))
			{
				<li id="Elmah" class="panel-heading">
					<h4 class="panel-title">
						<a href="@Url.Action("Index", "Elmah")">
							<span class="fa fa-warning"></span> Error Log
						</a>
					</h4>
				</li>
			}
		</ul>

		<ul>
			<li>@Html.Partial("_LoginPartial")</li>
		</ul>
	</div>

	<div id="main-body" class="container">
		@*@Scripts.Render("~/bundles/modernizr")*@
		@RenderSection("scripts", required: false)

		@RenderBody()

		@*@Scripts.Render(Links.Scripts.bootbox_min_js)
		@Scripts.Render("~/bundles/custom")

		<!-- jQuery Easing -->
		<script src="@Links.Scripts.Hydrogen.jquery_easing_1_3_min_js"></script>
		<!-- Waypoints -->
		<script src="@Links.Scripts.Hydrogen.jquery_waypoints_min_js"></script>
		<!-- Magnific Popup -->
		<script src="@Links.Scripts.Hydrogen.jquery_magnific_popup_min_js"></script>
		<!-- Salvattore -->
		<script src="@Links.Scripts.Hydrogen.salvattore_min_js"></script>
		<!-- Main JS -->
		<script src="@Links.Scripts.Hydrogen.main_min_js"></script>*@
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<ul>
								<li>@Html.ActionLink("About", "About", "Home")</li>
								<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
								<li>
									<a href="@Url.Action("Index","Statistics")">
										<span class="fa fa-trophy"></span> Stats
									</a>
								</li>
								@if (User.Identity.IsAuthenticated)
								{
									<li>
										<a href="@Url.Action("Index", "Wish")">
											<span class="fa fa-star"></span> Wish List
										</a>
									</li>
								}
								@*<li>
									<a href="@Url.Action("Index","Showcase",User.Identity.IsAuthenticated ? User.Identity.GetUserNum() : 1))">
										<span class="fa fa-certificate"></span> Showcase
									</a>
								</li>*@
								@if (User.Identity.IsAuthenticated)
								{
									<li>
										<a href="@Url.Action("Index", "Queue")">
											<span class="fa fa-list"></span> Queue
										</a>
									</li>
								}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<div>
								<a href="https://github.com/dsilva609/Project-Cinderella" class="btn btn-primary" target="_blank">View Project In GitHub &raquo;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				&copy; @DateTime.Now.Year - Project Cinderella - Designed By Dennis D. Silva
			</div>
		</div>
	</div>
</body>
</html>