@model UI.Models.AlbumStatsViewModel

@Styles.Render(Links.Content.c3_min_css)
@Scripts.Render(Links.Scripts.d3.d3_min_js)
@Scripts.Render(Links.Scripts.c3_min_js)

<div data-toggle="collapse" data-parent="#accordion" href="#collection-info" style="padding-top: 1em;">
	<div class="row panel panel-primary panel-collapse">
		<div class="panel-heading">
			<h4>
				Album Stats
				<span class="fa fa-chevron-circle-down"></span>
			</h4>
		</div>
	</div>
</div>

<div id="collection-info" class="collapse in">
	<div class="panel-body row">
		<div class="panel-heading">
			<h4 class="col-md-6">
				Global
				<span class="fa fa-globe"></span>
			</h4>
			<h4 class="col-md-6">
				User
				<span class="fa fa-user"></span>
			</h4>
		</div>
		<div class="col-md-6">@Html.Partial(MVC.Statistics.Views._AlbumStatsTable, Model.Global)</div>
		@if (Model.User != null)
		{
			<div class="col-md-6">@Html.Partial(MVC.Statistics.Views._AlbumStatsTable, Model.User)</div>
		}
	</div>
</div>

<div data-toggle="collapse" data-parent="#accordion" href="#global-charts">
	<div class="row panel panel-primary panel-collapse">
		<div class="panel-heading">
			<h4>
				Charts
				<span class="fa fa-chevron-circle-down"></span>
			</h4>
		</div>
	</div>
</div>
<div id="global-charts" class="collapse in charts">
	<div class="panel-body">
		<div class="table">
			<div class="row">
				<div id="global-album-types" class="col-md-6" style="width: 500px; height: 500px;"></div>
				<div id="user-album-types" class="col-md-6" style="width: 500px; height: 500px;"></div>
			</div>
			<div class="row">
				<div id="global-album-formats" class="col-md-6" style="width: 500px; height: 500px;"></div>
				<div id="user-album-formats" class="col-md-6" style="width: 500px; height: 500px;"></div>
			</div>
			<div class="row">
				<div id="global-album-speeds" class="col-md-6" style="width: 500px; height: 500px;"></div>
				<div id="user-album-speeds" class="col-md-6" style="width: 500px; height: 500px;"></div>
			</div>
		</div>
	</div>
</div>
@Html.Partial(MVC.Statistics.Views.Charts._AlbumTypeChart, Model.Global.Types)
@Html.Partial(MVC.Statistics.Views.Charts._AlbumTypeChart, Model.User.Types)

@Html.Partial(MVC.Statistics.Views.Charts._AlbumFormatChart, Model.Global.Formats)
@Html.Partial(MVC.Statistics.Views.Charts._AlbumFormatChart, Model.User.Formats)

@Html.Partial(MVC.Statistics.Views.Charts._AlbumSpeedChart, Model.Global.Speeds)
@Html.Partial(MVC.Statistics.Views.Charts._AlbumSpeedChart, Model.User.Speeds)