@using Chart.Mvc.ComplexChart
@using Chart.Mvc.Extensions
@using Chart.Mvc.SimpleChart
@model BusinessLogic.Models.GlobalStats

<h2>
    Collection Statistics
</h2>

@Styles.Render(Links.Content.c3_min_css)
@Scripts.Render(Links.Scripts.d3_min_js)
@Scripts.Render(Links.Scripts.c3_min_js)

<div data-toggle="collapse" data-parent="#accordion" href="#collection-info">
    <div class="row panel panel-primary panel-collapse">
        <div class="panel-heading">
            <h4>
                Global Stats
                <span class="fa fa-chevron-circle-down"></span>
            </h4>
        </div>
    </div>
</div>

<div id="collection-info" class="collapse in">
    <div class="panel-body">
        <ul class="list-group col-md-6">
            <li class="list-group-item">
                Total number of items in collection
                <span class="tag tag-info tag-pill pull-xs-right">@Model.CollectionCount</span>
            </li>
            <li class="list-group-item">
                Total number of Albums
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumAlbums</span>
            </li>
            <li class="list-group-item">
                Total number of Books
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumBooks</span>
            </li>
            <li class="list-group-item">
                Total number of Movies and TV Shows
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumMoviesAndShows</span>
            </li>
            <li class="list-group-item">
                Total number of Games
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumGames</span>
            </li>
            <li class="list-group-item">
                Number of items purchased new
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumNew</span>
            </li>
            <li class="list-group-item">
                Number of items purchased used
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumUsed</span>
            </li>
            <li class="list-group-item">
                Number of physical items
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumPhysical</span>
            </li>
            <li class="list-group-item">
                Number of digital items
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumDigital</span>
            </li>
            <li class="list-group-item">
                Number of times an item has been completed
                <span class="tag tag-info tag-pill pull-xs-right">@Model.TimesCompleted</span>
            </li>
            <li class="list-group-item">
                Number of items completed
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumCompleted</span>
            </li>
            <li class="list-group-item">
                Number of items in progress
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumInProgress</span>
            </li>
            <li class="list-group-item">
                Number of items not started
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumNotStarted</span>
            </li>
            <li class="list-group-item">
                Number of items checked out
                <span class="tag tag-info tag-pill pull-xs-right">@Model.NumCheckedOut</span>
            </li>
        </ul>
    </div>
</div>

<div id="mediaTypes"></div>

<script>
    c3.generate({
        bindto: '#mediaTypes',
        data: {
            columns: [
                ['Physical', @Model.NumPhysical],
                ['Digital', @Model.NumDigital]
            ],
            type: 'donut'
        },
        donut: {
            title: "Media Types"
            //label: {
            //    format: function (value, ratio) {
            //        return value + " (" + ratio * 100 + "%)"; //returning here the value and not the ratio
            //    }
            //}
        }
    });
</script>

<div id="itemTypes"></div>

<script>
    c3.generate({
        bindto: '#itemTypes',
        data: {
            columns: [
                ['Album', @Model.NumAlbums],
                ['Book', @Model.NumBooks],
                ['Movie/TV', @Model.NumMoviesAndShows],
                ['Games', @Model.NumGames]
            ],
            type: 'donut'
        },
        donut: {
            title: "Item Types"
        }
    });
</script>

<div id="condition"></div>

<script>
    c3.generate({
        bindto: '#condition',
        data: {
            columns: [
                ['New', @Model.NumNew],
                ['Used', @Model.NumUsed]
            ],
            type: 'donut'
        },
        donut: {
            title: "Condition"
        }
    });
</script>

<div id="completionStatus"></div>

<script>
    c3.generate({
        bindto: '#completionStatus',
        data: {
            columns: [
                ['Not Started', @Model.NumNotStarted],
                ['In Progress', @Model.NumInProgress],
                ['Completed', @Model.NumCompleted]
            ],
            type: 'donut'
        },
        donut: {
            title: "Completion Status"
        }
    });
</script>