@using UI.Enums
@model BusinessLogic.Models.Album
<div id="fh5co-board" data-columns>
    <div class="item">
        <div class="flip-container @Model.CompletionStatus.ToString()" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper album">
                <div class="front">
                    <div class="animate-box text-center img-fluid">
                        <a href="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.Turntable_jpg : Model.ImageUrl)" class="image-popup img-thumbnail img-fluid fh5co-board-img" title="@Model.Artist - @Model.Title (@Model.YearReleased)">
                            <img class="" src="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.Turntable_jpg : Model.ImageUrl)" alt="@Model.Title">
                        </a>
                    </div>
                    <diV class="fh5co-desc info @Model.CompletionStatus.ToString()" data-id="@Model.ID">
                        <a href="@Url.Action(User.Identity.IsAuthenticated ? MVC.Album.Edit(Model.ID) : MVC.Album.Details(Model.ID))">
                            <div class="row">
                                @Html.DisplayFor(modelItem => Model.Artist)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => Model.Title)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => Model.MediaType)
                                <span class="@CompletionStatusHelper.GetStatusClass(Model.CompletionStatus)"></span>
                            </div>
                        </a>
                    </diV>
                </div>
                <div class="back">
                    <div class="animate-box text-center">
                        <a href="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.Turntable_jpg : Model.ImageUrl)" class="image-popup img-thumbnail img-fluid fh5co-board-img" title="@Model.Artist - @Model.Title (@Model.YearReleased)">
                            <img src="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.Turntable_jpg : Model.ImageUrl)" alt="@Model.Title">
                        </a>
                    </div>

                    <div class="info fh5co-desc @Model.CompletionStatus.ToString()" data-id="@Model.ID">
                        <a href="@Url.Action(User.Identity.IsAuthenticated ? MVC.Album.Edit(Model.ID) : MVC.Album.Details(Model.ID))">
                            <div class="row">
                                @Html.DisplayFor(modelItem => Model.Artist)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => Model.Title)
                            </div>
                            <div class="row">
                                @Html.DisplayFor(modelItem => Model.MediaType)
                                <span class="@CompletionStatusHelper.GetStatusClass(Model.CompletionStatus)"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>