@using Microsoft.AspNet.Identity
@model BusinessLogic.Models.Album

<script>
	var deleteUrl = '@Url.Action(MVC.Album.Delete())';
</script>

<h2>Details</h2>

<div class="row panel panel-primary">
	<div class="panel-heading">
		<h4>Album Information</h4>
	</div>
	<div class="panel-body">
		<div class="animate-box item col-sm-6">
			<a href="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.Turntable_jpg : Model.ImageUrl)" class="image-popup img-fluid fh5co-board-img" title="@Model.Artist - @Model.AlbumName (@Model.AlbumYear)">
				<img src="@(string.IsNullOrWhiteSpace(Model.ImageUrl) ? Links.Content.Images.Turntable_jpg : Model.ImageUrl)" class="img-rounded" style="height: 200px; width: 200px;">
			</a>
		</div>
		<div>
			@Html.DisplayNameFor(m => m.Artist):
			@Html.DisplayFor(m => m.Artist)
		</div>

		<div>
			@Html.DisplayNameFor(m => m.AlbumName):
			@Html.DisplayFor(m => m.AlbumName)
		</div>
		<div>
			@Html.DisplayNameFor(m => m.Genre):
			@Html.DisplayFor(m => m.Genre)
		</div>
		<div>
			@Html.DisplayNameFor(m => m.AlbumYear):
			@Html.DisplayFor(m => m.AlbumYear)
		</div>

		<div>
			@Html.DisplayNameFor(m => m.RecordLabel):
			@Html.DisplayFor(m => m.RecordLabel)
		</div>

		<div>
			@Html.DisplayNameFor(m => m.Notes):
			@Html.DisplayFor(m => m.Notes)
		</div>
	</div>
</div>
<div class="row panel panel-primary">
	<div class="panel-heading">
		<h4>Media Information</h4>
	</div>
	<div class="panel-body">
		<div>
			@Html.DisplayNameFor(m => m.MediaType):
			@Html.DisplayFor(m => m.MediaType)
		</div>

		<div>
			@Html.DisplayNameFor(m => m.IsPhysical):
			@Html.DisplayFor(m => m.IsPhysical)
		</div>

		<div>
			@Html.DisplayNameFor(m => m.Speed):
			@Html.DisplayFor(m => m.Speed)
		</div>
	</div>
</div>
<div class="row panel panel-primary">
	<div class="panel-heading">
		<h4>Purchase Information</h4>
	</div>
	<div class="panel-body">
		<div>
			@Html.DisplayNameFor(m => m.DatePurchased):
			@Html.DisplayFor(m => m.DatePurchased)
		</div>

		<div>
			@Html.DisplayNameFor(m => m.LocationPurchased):
			@Html.DisplayFor(m => m.LocationPurchased)
		</div>

		<div>
			@Html.DisplayNameFor(m => m.IsNew):
			@Html.DisplayFor(m => m.IsNew)
		</div>
	</div>
</div>

<div>
	@if (User.Identity.IsAuthenticated && Model.UserID == User.Identity.GetUserId())
	{
		@Html.ActionLink("Edit", MVC.Album.Edit(Model.ID), new { id = Model.ID })
		<span> | </span>
			@Html.ActionLink("Delete", MVC.Album.Delete(Model.ID), new { id = "albumDeleteBtn", @data_id = Model.ID })
			<span> | </span>
	}
	@Html.ActionLink("Back to List", MVC.Album.Index())
</div>