@using Microsoft.AspNet.Identity
@model UI.Models.AlbumViewModel
@{
	ViewBag.Title = @Model.ViewTitle;
}
<script>
	var deleteUrl = '@Url.Action(MVC.Album.Delete())';
</script>

<div>
	<div class="h2 col-xs-3 col-sm-3">
		Albums
	</div>
	<div class="col-xs-3 col-sm-4" style="padding-top: 1.25em;">
		@if (User.Identity.IsAuthenticated)
		{
			@Html.ActionLink("Search on Discogs", MVC.Album.Search(), new { @class = "btn btn-default" })
		}
	</div>
	<div class="col-xs-6 col-sm-5 text-right" style="padding-top: 1.25em; display: inline-flex;">
		@if (User.Identity.IsAuthenticated)
		{
			@Html.ActionLink("Add Album", MVC.Album.Create(), new { @class = "btn btn-default", @style = "margin-right:1em;" })
		}
		@using (Html.BeginForm(MVC.Album.Index(), FormMethod.Get, new { @style = "display:inline-flex;" }))
		{
			@Html.TextBox("query", null, new { @class = "form-control", @placeholder = "Search" })
			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		}
	</div>
</div>

@*<div class="table table-responsive" style="padding-top: 3em;">
		<div class="bold row">
			<div class="col-xs-4 col-sm-3">
				@Html.DisplayNameFor(model => model.Albums[0].Artist)
			</div>
			<div class="col-xs-4 col-sm-3">
				@Html.DisplayNameFor(model => model.Albums[0].AlbumName)
			</div>
			<div class="col-xs-4 col-sm-1">
				@Html.DisplayNameFor(model => model.Albums[0].MediaType)
			</div>
			<div class="col-sm-1 hidden-xs">
				@Html.DisplayNameFor(model => model.Albums[0].IsNew)
			</div>
			<div class="col-sm-1 hidden-xs">
				@Html.DisplayNameFor(model => model.Albums[0].IsPhysical)
			</div>
			<div class="col-md-1 hidden-xs hidden-sm">
				@Html.DisplayNameFor(model => model.Albums[0].DatePurchased)
			</div>
		</div>
		@foreach (var record in Model.Albums)
		{
			<div id="album" class="row info" data-id="@record.ID">
				<a href="@Url.Action(User.Identity.IsAuthenticated ? MVC.Album.Edit(record.ID) : MVC.Album.Details(record.ID))">
					<div class="col-xs-4 col-sm-3">
						@Html.DisplayFor(modelItem => record.Artist)
					</div>
					<div class="col-xs-4 col-sm-3">
						@Html.DisplayFor(modelItem => record.AlbumName)
					</div>
					<div class="col-xs-4 col-sm-1">
						@Html.DisplayFor(modelItem => record.MediaType)
					</div>
					<div class="col-sm-1 hidden-xs">
						@Html.DisplayFor(modelItem => record.IsNew)
					</div>
					<div class="col-sm-1 hidden-xs">
						@Html.DisplayFor(modelItem => record.IsPhysical)
					</div>
					<div class="col-md-1 hidden-xs hidden-sm">
						@Html.DisplayFor(modelItem => record.DatePurchased)
					</div>
				</a>
				@if (User.Identity.IsAuthenticated && record.UserID == User.Identity.GetUserId())
				{
					<div class="col-xs-2 hidden-xs">
						<a href="@Url.Action(MVC.Album.Delete(record.ID))" class="deleteBtn fa fa-trash" data-id=@record.ID></a>
					</div>
				}
			</div>

		}
	</div>*@
<div id="fh5co-main">
	<div class="container">
		<div class="row">
			@foreach (var record in Model.Albums)
			{
				<div id="fh5co-board" data-columns>
					<div class="item text-xs-center">
						<div class="animate-box">
							<a href="@(string.IsNullOrWhiteSpace(record.ImageUrl)? Links.Content.Images.Turntable_jpg:record.ImageUrl)" alt class="image-popup img-thumbnail img-responsive fh5co-board-img" title="@record.Artist - @record.AlbumName (@record.AlbumYear)">
								<img src="@(string.IsNullOrWhiteSpace(record.ImageUrl)? Links.Content.Images.Turntable_jpg:record.ImageUrl)">
							</a>
						</div>

						<div id="album" class="row info fh5co-desc" data-id="@record.ID">
							<a href="@Url.Action(User.Identity.IsAuthenticated ? MVC.Album.Edit(record.ID) : MVC.Album.Details(record.ID))">
								<div class="col-xs-4">
									@Html.DisplayFor(modelItem => record.Artist)
								</div>
								<div class="col-xs-4">
									@Html.DisplayFor(modelItem => record.AlbumName)
								</div>
								<div class="col-xs-2">
									@Html.DisplayFor(modelItem => record.MediaType)
								</div>
								@*<div class="col-sm-1 hidden-xs">
										@Html.DisplayFor(modelItem => record.IsNew)
									</div>
									<div class="col-sm-1 hidden-xs">
										@Html.DisplayFor(modelItem => record.IsPhysical)
									</div>
									<div class="col-md-1 hidden-xs hidden-sm">
										@Html.DisplayFor(modelItem => record.DatePurchased)
									</div>*@
							</a>
							@*@if (User.Identity.IsAuthenticated && record.UserID == User.Identity.GetUserId())
								{
									<div class="col-xs-2 hidden-xs">
										<a href="@Url.Action(MVC.Album.Delete(record.ID))" class="deleteBtn fa fa-trash" data-id=@record.ID></a>
									</div>
								}*@
						</div>

						@*	<div class="fh5co-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos? Description</div>*@
					</div>
				</div>
			}
		</div>
	</div>
</div>

<div class="row">
	Page:
	@for (var i = 0; i < Model.PageCount; i++)
	{
		@Html.ActionLink((i + 1).ToString(), MVC.Album.Index("", i + 1), new { @class = "btn btn-link" })

	}
</div>