@using Microsoft.AspNet.Identity
@model UI.Models.BookViewModel
@{
	ViewBag.Title = Model.ViewTitle;
}

<script>
	var deleteUrl = '@Url.Action(MVC.Book.Delete())';
</script>

<div>
	<div class="h2 col-xs-3 col-sm-5">
		Books
	</div>

	<div class="col-xs-3 col-sm-2" style="padding-top: 1.25em;">
		@if (User.Identity.IsAuthenticated)
		{
			@Html.ActionLink("Search Google Books", MVC.Book.Search(), new { @class = "btn btn-default" })
		}
	</div>

	<div class="col-xs-6 col-sm-5 text-right" style="padding-top: 1.25em; display: inline-flex;">
		@if (User.Identity.IsAuthenticated)
		{
			@Html.ActionLink("Add Book", MVC.Book.Create(), new { @class = "btn btn-default", @style = "margin-right:1em;" })
		}
		@using (Html.BeginForm(MVC.Book.Index(), FormMethod.Get, new { @style = "display:inline-flex;" }))
		{
			@Html.TextBox("query", null, new { @class = "form-control", @placeholder = "Search" })
			<button type="submit" class="btn btn-default">
				<span class="fa fa-search"></span>
			</button>
		}
	</div>

	<div class="table table-responsive" style="padding-top: 3em;">
		<div class="bold row">
			<div class="col-xs-3">
				@Html.DisplayNameFor(x => x.Books[0].Title)
			</div>

			<div class="col-xs-3">
				@Html.DisplayNameFor(x => x.Books[0].Author)
			</div>
			<div class="col-xs-3">
				@Html.DisplayNameFor(x => x.Books[0].Publisher)
			</div>
			<div class="col-xs-2">
				@Html.DisplayNameFor(x => x.Books[0].YearReleased)
			</div>
		</div>
		@foreach (var book in Model.Books)
		{
			<div id="book" class="row info" data-id="@book.ID">
				<a href="@Url.Action(User.Identity.IsAuthenticated ? MVC.Book.Edit(book.ID) : MVC.Book.Details(book.ID))">
					<div class="col-xs-3">
						@Html.DisplayFor(x => book.Title)
					</div>

					<div class="col-xs-3">
						@Html.DisplayFor(x => book.Author)
					</div>
					<div class="col-xs-3">
						@Html.DisplayFor(x => book.Publisher)
					</div>
					<div class="col-xs-2">
						@Html.DisplayFor(x => book.YearReleased)
					</div>
				</a>
				@if (User.Identity.IsAuthenticated && book.UserID == User.Identity.GetUserId())
				{
					<div class="col-xs-1 hidden-xs">
						<a href="#" id="deleteBtn" class="fa fa-trash" data-id=@book.ID></a>
					</div>
				}
			</div>
		}
		<div>
		</div>
	</div>
</div>

@*<div class="row">
		Page:
		@for (var i = 0; i < Model.PageCount; i++)
		{
			@Html.ActionLink((i + 1).ToString(), MVC.Album.Index("", i + 1), new { @class = "btn btn-link" })

		}
	</div>*@