@using Microsoft.AspNet.Identity
@model UI.Models.GoogleBooksSearchModel

<h2>@ViewBag.Title</h2>

<div class="row panel panel-primary">
	<div class="panel-heading">
		<h4>
			Book Information
		</h4>
	</div>
	@using (Html.BeginForm(MVC.Book.Search(), FormMethod.Get))
	{
		<div class="panel-body">
			<div class="col-xs-6">
				@Html.LabelFor(m => m.Author)
				@Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
			</div>

			<div class="col-xs-6">
				@Html.LabelFor(m => m.Title)
				@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="row panel-body">
			<div class="col-xs-8 col-sm-10">
				<input id="btnSubmit" type="submit" value="Search" class="btn btn-default btn-block btn-lg" />
			</div>
		</div>
	}
</div>
@if (Model.Volumes != null && Model.Volumes.Count > 0)
{
	<div class="row panel panel-primary">
		<div class="panel-heading">
			<h4>
				Search Results
			</h4>
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-xs-3">
					@Html.DisplayNameFor(x => Model.Volumes[0].Author)
				</div>
				<div class="col-xs-3">
					@Html.DisplayNameFor(x => Model.Volumes[0].Title)
				</div>
				<div class="col-xs-3">
					@Html.DisplayNameFor(x => Model.Volumes[0].Publisher)
				</div>

				<div class="col-xs-2">
					@Html.DisplayNameFor(x => Model.Volumes[0].YearReleased)
				</div>
			</div>
		</div>
		@foreach (var book in Model.Volumes)
		{
			using (Html.BeginForm(MVC.Book.CreateFromSearchModel(book), FormMethod.Get))
			{
				<div id="book" class="row info" style="padding-bottom: 1em;" data-id="@book.ID">
					@*<a href="@Url.Action(User.Identity.IsAuthenticated? MVC.Album.Edit(album.releaseID): MVC.Album.Details(album.releaseID))">*@

					<div class="col-xs-2">
						<img src="@book.ImageUrl" />
					</div>
					<div class="col-xs-3">
						@Html.DisplayFor(x => book.Author)
						@Html.HiddenFor(x => book.Author)
					</div>
					<div class="col-xs-3">
						@Html.DisplayFor(x => book.Title)
						@Html.HiddenFor(x => book.Title)
					</div>
					<div class="col-xs-3">
						@Html.DisplayFor(x => book.Publisher)
						@Html.HiddenFor(x => book.Publisher)
					</div>

					<div class="col-xs-2">
						@Html.DisplayFor(x => book.YearReleased)
						@Html.HiddenFor(x => book.YearReleased)
					</div>
					@Html.HiddenFor(x => book.UserID)
					@Html.HiddenFor(x => book.Genre)
					@Html.HiddenFor(x => book.ISBN10)
					@Html.HiddenFor(x => book.ISBN13)
					@Html.HiddenFor(x => book.Language)
					<div class="col-xs-1">
						<input id="" type="submit" value="Add" class="btn" />
					</div>
					@*	</a>*@
				</div>
			}
		}
	</div>
}