@model BusinessLogic.Models.RecordModel

<script>
    var deleteUrl = '@Url.Action(MVC.Record.Delete())';
</script>

<h2>Details</h2>

<div>
    <div>
        @Html.DisplayNameFor(m => m.Artist):
        @Html.DisplayFor(m => m.Artist)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.AlbumName):
        @Html.DisplayFor(m => m.AlbumName)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.MediaType):
        @Html.DisplayFor(m => m.MediaType)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.Genre):
        @Html.DisplayFor(m => m.Genre)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.IsNew):
        @Html.DisplayFor(m => m.IsNew)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.IsPhysical):
        @Html.DisplayFor(m => m.IsPhysical)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.DatePurchased):
        @Html.DisplayFor(m => m.DatePurchased)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.LocationPurchased):
        @Html.DisplayFor(m => m.LocationPurchased)
    </div>

    <div>
        @Html.DisplayNameFor(m => m.AlbumYear):
        @Html.DisplayFor(m => m.AlbumYear)
    </div>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", MVC.Record.Edit(Model.ID), new { id = Model.ID })
        <span> | </span>
        @Html.ActionLink("Delete", MVC.Record.Delete(Model.ID), new { id = "recordDeleteBtn", @data_id = Model.ID })
        <span> | </span>
    }
    @Html.ActionLink("Back to List", MVC.Record.Index())
</div>