@model UI.Models.RecordViewModel
@{
    ViewBag.Title = @Model.ViewTitle;
}
<script>
    var detailsUrl = '@Url.Action(MVC.Record.Details())';
    var deleteUrl = '@Url.Action(MVC.Record.Delete())';
</script>
<h2>Current Records In Collection @Html.ActionLink("Add Record", MVC.Record.Create(), new { @class = "btn btn-default" })</h2>

<div class="table text-center">
    <div class="bold row">
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => model.Records[0].Artist)
        </div>
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => model.Records[0].AlbumName)
        </div>
        <div class="col-xs-1">
            @Html.DisplayNameFor(model => model.Records[0].MediaType)
        </div>
        <div class="col-xs-1">
            @Html.DisplayNameFor(model => model.Records[0].IsNew)
        </div>
        <div class="col-xs-1">
            @Html.DisplayNameFor(model => model.Records[0].IsPhysical)
        </div>
        <div class="col-xs-1">
            @Html.DisplayNameFor(model => model.Records[0].DatePurchased)
        </div>
    </div>
    @foreach (var item in Model.Records)
    {
        <div id="record" class="row" data-id="@item.ID">
            <div class="col-xs-3">
                @Html.DisplayFor(modelItem => item.Artist)
            </div>
            <div class="col-xs-3">
                @Html.DisplayFor(modelItem => item.AlbumName)
            </div>
            <div class="col-xs-1">
                @Html.DisplayFor(modelItem => item.MediaType)
            </div>
            <div class="col-xs-1">
                @Html.DisplayFor(modelItem => item.IsNew)
            </div>
            <div class="col-xs-1">
                @Html.DisplayFor(modelItem => item.IsPhysical)
            </div>
            <div class="col-xs-1">
                @Html.DisplayFor(modelItem => item.DatePurchased)
            </div>

            @*@if (User.IsInRole("Admin"))
                {*@
            <div class="col-xs-1 removePaddingLeftRight">
                @Html.ActionLink("Edit", MVC.Record.Edit(item.ID), new {@id = "editRecordBtn", @class = "btn btn-link btn-link-height"})
                <span> | </span>
                @Html.ActionLink("Delete", MVC.Record.Delete(item.ID), new {@id = "deleteRecord", @class = "btn btn-link btn-link-height", @data_id = item.ID})
            </div>
            @*}*@
        </div>
    }
    </div>
<div class="row">
    Page:
    @for (var i = 0; i < Model.PageCount; i++)
    {
        @Html.ActionLink((i + 1).ToString(), MVC.Record.Index(i + 1), new { @class = "btn btn-link" })

    }
</div>