@model IEnumerable<UI.Models.RecordViewModel>
@{
	ViewBag.Title = "Index";
}
<script>
	var detailsUrl = '@Url.Action(MVC.Record.Details())';
	var deleteUrl = '@Url.Action(MVC.Record.Delete())';
</script>
<h2>Current Records In Collection</h2>

<div class="table text-center">
	<div class="bold row">
		<div class="col-xs-2">
			@Html.DisplayNameFor(model => model.AlbumName)
		</div>
		<div class="col-xs-2">
			@Html.DisplayNameFor(model => model.Artist)
		</div>
		<div class="col-xs-1">
			@Html.DisplayNameFor(model => model.MediaType)
		</div>
		<div class="col-xs-1">
			@Html.DisplayNameFor(model => model.Genre)
		</div>
		<div class="col-xs-1">
			@Html.DisplayNameFor(model => model.IsNew)
		</div>
		<div class="col-xs-1">
			@Html.DisplayNameFor(model => model.IsPhysical)
		</div>
		<div class="col-xs-1">
			@Html.DisplayNameFor(model => model.DatePurchased)
		</div>
		<div class="col-xs-2">
			@Html.DisplayNameFor(model => model.LocationPurchased)
		</div>
		<div class="col-xs-1">
			@Html.DisplayNameFor(model => model.AlbumYear)
		</div>
	</div>
	@foreach (var item in Model)
	{
		<div id="record" class="row" data-id="@item.ID">
			<div class="col-xs-2">
				@Html.DisplayFor(modelItem => item.AlbumName)
			</div>
			<div class="col-xs-2">
				@Html.DisplayFor(modelItem => item.Artist)
			</div>
			<div class="col-xs-1">
				@Html.DisplayFor(modelItem => item.MediaType)
			</div>
			<div class="col-xs-1">
				@Html.DisplayFor(modelItem => item.Genre)
			</div>
			<div class="col-xs-1">
				@Html.DisplayFor(modelItem => item.IsNew)
			</div>
			<div class="col-xs-1">
				@Html.DisplayFor(modelItem => item.IsPhysical)
			</div>
			<div class="col-xs-1">
				@Html.DisplayFor(modelItem => item.DatePurchased)
			</div>
			<div class="col-xs-2">
				@Html.DisplayFor(modelItem => item.LocationPurchased)
			</div>
			<div class="col-xs-1">
				@Html.DisplayFor(modelItem => item.AlbumYear)
			</div>

			@*@if (User.IsInRole("Admin"))
				{*@
			<div class="col-xs-1 removePaddingLeftRight">
			@Html.ActionLink("Edit", MVC.Record.Edit(item.ID), new { @id = "editRecordBtn", @class = "btn btn-link btn-link-height" })
					<span> | </span>
				@Html.ActionLink("Delete", MVC.Record.Delete(item.ID), new { @id = "deleteRecord", @class = "btn btn-link btn-link-height", @data_id = item.ID })
			</div>
			@*}*@
		</div>
	}
</div>

<div>
	@Html.ActionLink("Add Record", MVC.Record.Create(), new { @class = "btn btn-default" })
</div>